<style>
  .icon__left-1 {
      position: fixed;
      left: 0;
      top: 35%;
      top: 35%;
    }
    .icon__left-2 {
      position: fixed;
      left: 15%;
      bottom: 0;
    }
    .icon__right-1 {
      position: fixed;
      right: 0;
      top: 20%;
    }
    .icon__right-2 {
      position: fixed;
      right: 3%;
      top: 60%;
    }
  @media(max-width:749px){
    .svg--hide{
      display:none;
    }
  }
</style>
<div class="icon__left-1 svg--hide">
  <svg  width="57" height="97" viewBox="0 0 57 97" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle r="48.5" transform="matrix(-1 0 0 1 8.5 48.5)" fill="#F3716D"/>
  </svg>
</div>
<div class="icon__left-2 svg--hide">
  <svg width="211" height="102" viewBox="0 0 211 102" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle r="105.5" transform="matrix(-1 0 0 1 105.5 105.5)" fill="#00BAC6"/>
  </svg>
</div>
<div class="icon__right-1 svg--hide">
  <svg class="icon__right-1 svg--hide" width="106" height="211" viewBox="0 0 106 211" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle r="105.5" transform="matrix(-1 0 0 1 105.5 105.5)" fill="#00BAC6"/>
  </svg>
</div>
<div class="icon__right-2 svg--hide">
  <svg  width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle r="20.5" transform="matrix(-1 0 0 1 20.5 20.5)" fill="#F3716D"/>
  </svg>
</div>