
<div id="form--section">
<div class="form_wrapper" id="landing_form">
  <div id="header">
    <div class="img_wrapper">
      <img src="logo.png" alt=""/>
    </div>
  </div> 
<div class="content_Wrapper" id="detail_form">
    <div class="form_content" id="signup_form_content">
      <div class="heading_content">
        <h3>Verify other Details</h3>
        <p>Check these details and save & continue to proceed</p>
      </div>
      <form class="signup_form">
        <div class="input_Wrapper">
          <label for="name">Address</label>
          <input type="text" placeholder="">
        </div>
         <div class="input_Wrapper">
          <label for="name">Landmark</label>
          <input type="text" placeholder="">
        </div>
        <div class="flex">
          <div class="input_Wrapper half_width">
            <label for="name">City</label>
            <input type="text" placeholder="">
          </div>
          <div class="input_Wrapper half_width">
            <label for="name">Pincode</label>
            <input type="text" placeholder="">
          </div>
        </div>
        <div class="flex">
          <div class="input_Wrapper half_width">
            <label for="name">State</label>
            <input type="text" placeholder="">
          </div>
          <div class="input_Wrapper half_width">
            <label for="name">Country</label>
            <input type="text" placeholder="">
          </div>
        </div>
        
        <a id="signup_submit" href="/pages/boarding">Signup</a>
      </form>
    </div>
   </div>
  </div>
</div>